# Environment Variables
.env

# Google Cloud Credentials
credentials.json
token.json

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log
log.txt
log_debug.txt

# Artifacts/Debug
last_response.json
debug_invoice.json

# Client Configuration & Sensitive Data
client_metadata.json
